<% @funding_needs.each do |funding_need| %>
  <div class="card-container text-center flip p-2 d-flex flex-wrap">
    <div class="card box-shadow d-flex flex-wrap">
      <div class="face front">
        <div class="card-header card-field-header">
          <h3 class=""><%= funding_need.organization.name %></h3>
        </div>
        <div class="card-body toggle">
          <% if Rails.env.production? %>
            <%= image_tag funding_need.image.url(:medium) %>
          <% else %>
            <img class="card-img" src="https://cdn.glitch.com/6a75ee71-9345-4dd6-ac44-5fb0d2c1d56a%2Fimage.png?1521776197497" alt="Card image"/>
          <% end %>
          <h2 class="pt-2"><bold> <%= funding_need.name %></bold> </h2>
          <h4 class="">Cause Focus:
            <% funding_need.interests.limit(2).each do |interest| %>
              <span class="badge badge-pill interest-color"><%= interest.name %></span>
            <% end %>
          </h4>
        </div>
      </div>
      <div class="face back">
        <div class="card-header card-field-header">
          <h3 class=""><%= funding_need.organization.name %></h3>
        </div>
        <div class="card-body">
          <h3 class="pt-2"><%= funding_need.name %></h3>
          <p class="pt-2"> <%=h truncate(funding_need.description, :length => 350) %></p>
          <h3><%= link_to "Website Links", funding_need.website %></h3>
          <h3 class="pt-2">Funding Goal: <%= number_to_currency funding_need.goal %></h3>
          <h4 class="pt-2">Funding Deadline: <%= funding_need.end_date.strftime("%B %e, %Y") %></h4>
        </div>
      </div>
    </div>
  </div>
<% end %>