<!DOCTYPE html>
<html>
  <head>
    <title>Community Foundation</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>




<body>
  <header>





    <nav class="navbar brand-bar sticky-top flex-md-nowrap p-1">
      <%= image_tag("Givedsmheader2.png", :class => "brand-logo navbar-brand mr-0") %>
      <% if current_donor %>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <% end %>
      <ul class="navbar-nav px-3">
        <% if current_donor %>
          <% if current_organization_user %>
            <li class="nav-item text-nowrap">
              <%= link_to "My Org", "/myorg" %>
            </li>
            <li class="nav-item text-nowrap">
              <%= link_to "Donor Log out", donor_logout_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-item text-nowrap">
              <%= link_to "Log out", donor_logout_path, method: :delete %>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item text-nowrap">
            <%= link_to "My Org", "/myorg" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div class="container-fluid">
    <%= yield %>
  </div>
</body>

</html>